extends common/layout
include common/mixins/mixins_for_img-icon.pug

block content
  main.main
    h2 Sanchos-Family
    include includes/index/banner
    hr
    p paragraph
    img(src="img/forest.jpg")
    ul.items
      li.items__t
      li.items__t
      li.items1__t
    //- и другие блоки


  .container
    button(class='btn btn-primary') '****'
