include mixins/mixins_for_img-icon.pug
header
  div(class="wrap-heder")
    div(class="heder-block")
      div(class="str-1")
        div(class="wrap-logo")
          p rrrrrrrrrrrrrr
        div(class="col-1")
          div(class="wrap-icon")
            +icon("ico-instagram")
          div(class="wrap-icon")
            +icon("ico-vk")


        div(class="col-2")
            p col-2
      div(class="str-2")


          



