include mixins/mixins_for_img-icon.pug
header
  div(class="wrap-heder")
    div(class="str-1")
      div(class="str-1")
          p col-1
      div(class="")
          p col-2
    div(class="str-2")

          



