include mixins/mixins_for_img-icon.pug
header
  div(class="row wrap-heder")
    div(class="row wrap-str-1")
      div(class="col str-1")
          p col-1
      div(class="col ")
          p col-2
    div(class="row str-2")

          



