@import "../mixins/media";

header {
    width: 220px;
    background-color: red;

    @include media-tablet {
        width: 500px;
    }
}

@font-face {
    font-family: Raleway; /* Имя шрифта */
    src: url('../fonts/Raleway-VariableFont_wght.ttf'),
         url('../fonts/Raleway-Italic-VariableFont_wght.ttf'); 

   }

*{
    font-family: Raleway;
}