@import "../mixins/media";


@font-face {
    font-family: Raleway; /* Имя шрифта */
    src: url('../fonts/Raleway-VariableFont_wght.ttf'),
         url('../fonts/Raleway-Italic-VariableFont_wght.ttf'); 

   }

*{
    font-family: Raleway;
}