@import "common/global";

@import "common/header";

@import "common/footer";


.main-wrap{
	display: flex;
	flex-direction: column;
	align-items:center;

	
	left: 0px;
	right: 0px;
	margin: 0px auto;
	width: 1600px;


	border: 3px solid red;

}

.wrap-heder{
	border: 1px solid red;

	height: 152px;
	width: 1488px;

	.str-1{
		border: 1px solid #05FF28;
		height: 96px;
	}

	.str-2{
		border: 1px solid blue;
		height: 57px;
	}



}

.wrap-content{
	border: 1px solid blue;
	height: 1000px;
	width: 1488px;
}



.wrap-footer{
	border: 1px solid black;

	height: 96px;
	width: 1488px;
}



